.panel {
    margin: 10px !important;
}

.panel-heading {
    background-color: #4c4f53;
    color: white;
    line-height: 0.8em;
}
.panel-heading span {
    float: right
}
.panel-body {
    background-color: white;
}
.expand {
    float: right;
}