ul {
    margin-top: 10px;
}

li:first-of-type {
    border-top: 1px solid white;
}

li {
    padding: 5px;
    border-bottom: 1px solid white;
}

.arrow-right {
    float: right;
}

li, .material-icons, a {
    color: white;
    vertical-align: bottom;
}

a {
    display: inline !important;
}

.suggest-something {
    margin-top: 25px;
    color: white;
    text-align: center;
}