.lifeboard {
    background-color: #348fe2;
    width: 100%;
    padding: 20px;
}

h1 {
    margin: 0;
}

#navigation {
    background-color: #1a2229;
    height: 100%;
    padding: 0;
}

.container {
    width: 100%;
}

.container, .row {
    height: 100%;
}

#content {
    background-color: #e2e2e2;
    height: 100%;
}