.lifeboard {
    background-color: #c7c7c7;
    width: 100%;
    padding: 20px;
}

h1 {
    margin: 0;
}

#navigation {
    background-color: #3a3633;
    height: 100%;
}

.container {
    width: 100%;
}

.container, .row {
    height: 100%;
}

#content {
    background-color: #e2e2e2;
    height: 100%;
}