<div class='row'>
    <widget [widgets]='widgets'></widget>
    <div class='col-sm-3 widget'><a (click)='adding = true'>Add Widget</a><br /><i class='material-icons'>add</i></div>           
</div>
<p-dialog header='Add Widget' [(visible)]='adding' modal='true' closable='true'>
    Title: <input id='widget-title' name='widget-title' [(ngModel)]='widgetTitle' /><br />
    Content Pattern: <input id='widget-content' name='widget-content' [(ngModel)]='widgetContent' /><br />
    API: <input id='api' name='api' [(ngModel)]='widgetApi' /><br />
    Refresh Rate: <input id='refresh_rate' name='refresh_rate' [(ngModel)]='refreshRate' />
    <p-footer>
        <div class='ui-dialog-buttonpane ui-widget-content ui-helper-clearfix'>
            <button pButton type='button' class='ui-button-secondary' label='Cancel' (click)='adding = false'></button>
            <button pButton type='button' class='ui-button-primary' label='Done' (click)='addWidget()'></button>
        </div>
    </p-footer>
</p-dialog>